<section class="detail-card" *ngIf="selectedTour; else noTour">
    <h2>{{ selectedTour!.name[i18n.lang()] }}</h2>
    <p class="detail-meta">{{ i18n.t('tourDetail.duration') }}: {{ selectedTour!.duration[i18n.lang()] }}</p>
    <p class="detail-meta">{{ i18n.t('tourDetail.departure') }}: {{ selectedTour!.departure[i18n.lang()] }}</p>
    <p class="detail-price">{{ i18n.t('tourDetail.price') }}: {{ selectedTour!.price }} тг</p>

    <h3>{{ i18n.t('tourDetail.includes') }}</h3>
    <ul>
        <li *ngFor="let item of selectedTour!.includes[i18n.lang()]">{{ item }}</li>
    </ul>
</section>

<ng-template #noTour>
    <p>{{ i18n.t('tourDetail.notFound') }}</p>
</ng-template>

<section class="booking-section">
    <h3>{{ i18n.t('tourDetail.bookingTitle') }}</h3>
    <app-booking-form></app-booking-form>
</section>

<a class="back-link" [routerLink]="['/']">{{ i18n.t('tourDetail.back') }}</a>